<html lang="en">
 <head>
  <meta charset="utf-8">
  <title>{{page_title}}</title>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #81F79F;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: #6E6E6E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #01DF74;
}
</style>

  <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.css" type="text/css"/>
  <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js"></script>
     {{script0|safe}}
     {{script1|safe}}
     {{script2|safe}}
     {{script3|safe}}
 </head>

 <body>
<body>
<ul>
  <li style='font-size:20px'><a href="/welcome">Welcome to Choose Healthy</a></li>
  <li style='font-size:20px'><a href="/background">Background</a></li>
  <li style='font-size:20px'><a href="/grocerylist">Let's make a grocery list!</a></li>
</ul>

     </body> 
     <h2 align = 'center'> While investigating the impact of <a href="https://en.wikipedia.org/wiki/Food_desert">food deserts</a> on community health, we noticed that food access isn't the most important contributor to healthy eating. Here's the story:</h2>
     
          <br><br>
     <h3 align='center'> The number of stores and restaurants in a community vary with poverty level </h3>

  <div class='bokeh' align='center'>
  {{div1|safe}}
  </div>
     <br><br><br> <br> <br>
     <h3 align = 'center'> and obesity and diabetes correlate with poverty.</h3>
  <div class='bokeh' align='center'>
  {{div0|safe}}
     </div>

     <br><br><br> <br> <br>
     <h3 align='center'> This health discrepancy could be due to lower access to healthy food in poorer communities, </h3>
     <h3 align='center'>but food access and grocery store availability are not good predictors of community obesity levels</h3>
  <div class='bokeh' align='center'>
   {{div2|safe}}
  </div>
     <br><br><br> <br> <br>
     
     <h3 align='center'>In communities with high obesity, more people are opting for fast food meals.
     </h3>
  <div class='bokeh' align='center'>
   {{div3|safe}}
  </div>
     <br><br><br> <br> <br>
     <h3 align='center'>Food access and food availability are not as important as the choice that we make about what food to eat.
         Usually these choices are based on time and convenience. </h3>
     <br>
     <h3 align = 'center'> Let us help you choose to eat healthier with tools designed to make cooking fast and easy. Get started with our <a href='/grocerylist'>Grocery List Builder</a></h3>
     <br><br><br> <br> <br>
     <p align='right'> Data from the <a href="http://www.ers.usda.gov/data-products/food-environment-atlas.aspx">USDA's Food Environment Atlas</a>
 </body>
</html>

