<html lang="en">
 <head>
  <meta charset="utf-8">
  <title>{{page_title}}</title>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #81F79F;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: #6E6E6E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #01DF74;
}
</style>

  <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.css" type="text/css"/>
  <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js"></script>
     {{script0|safe}}
     {{script1|safe}}
     {{script2|safe}}
     {{script3|safe}}
 </head>

 <body>
<body>
<ul>
  <li><a href="/">Welcome to Choose Healthy</a></li>
  <li><a href="/background">Background</a></li>
  <li><a href="/grocerylist">Let's make a grocery list!</a></li>
</ul>
</body> 
  <div class='bokeh' align='center'>
  {{div0|safe}}
     </div>
     <p align='center'> Change in food vendors as poverty rate increases - US counties, 2012 </p>

  <div class='bokeh' align='center'>
  {{div1|safe}}
  </div>

  <div class='bokeh' align='center'>
   {{div2|safe}}
  </div>
     
     <p align='center'>More meals "out" at fast food restaurants correlates with higher obesity 
     </p>
  <div class='bokeh' align='center'>
   {{div3|safe}}
  </div>
     
 </body>
</html>

