<html lang="en">
 <head>
  <meta charset="utf-8">
  <title>{{page_title}}</title>
     <link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css" media="screen" />
<style>
ul {
    background:transparent;
    text-align:center;
}
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C3FDB8;
}

li {
    display:inline-block;
}

li a {
    display: inline-block;
    color: #48CCCD;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #98FF98;
}
</style>

 </head>
    <body>
<ul>
  <li style='font-size:20px'><a href="/welcome">Welcome to Choose Healthy</a></li>
  <li style='font-size:20px'><a href="/background">Background</a></li>
  <li style='font-size:20px'><a href="/grocerylist">Let's make a grocery list!</a></li>
</ul>
</body> 
    <div class='block-content' align = 'center'>
    {% block content %}
        {% endblock %}
    </div>
</html>