<html lang="en">
 <head>
  <meta charset="utf-8">
  <title>{{page_title}}</title>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #81F79F;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: #6E6E6E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #01DF74;
}
</style>

 </head>

 <body>
<body>
<ul>
  <li><a href="/">Welcome to Choose Healthy</a></li>
  <li><a href="/background">Background</a></li>
  <li><a href="/grocerylist">Let's make a grocery list!</a></li>
</ul>
</body> 
     <p align='center'> {{pagetext}}</p>
 </body>
</html>
