{% extends "base.html" %}
{% block content %}
<style>
    body {
    background-position: center top;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url('../static/carrots.jpg');
    width: 100%;
    background-repeat: repeat;
    margin-top: 150px; 
}
</style>
<body>     
<table>
    <tr>
     <td width='60%'> 
         <br>
         <h3 align='center'> {{pagetext}}</h3>
         <br>
         <br>
     <div align = 'center'>
        <h1>Enter an ingredient</h1>
         <br>
            <form id='ingredient of interest' method='post' action='grocerylist'>
                <p> Ingredient:   <input type='text' style='color:black' name='ingred_of_int'/> <input type='submit' value='Go!' style='color:black'/>
                    </p>
                
     </div>
         </td>
         <td class = 'col'>
            <table align='center'>
                <tr>
                    <td>
                        <br>
                        <br>
                    </td>
                </tr>
                <tr>

                    <td align='center'>
                        <h4 align='center'>
                        {{pagetext2}}
                        </h4>

                          <br>
                    </td>
                </tr>
                <tr>
{% for item in top_ingreds %}    

              <td align='center' style='color:#ffffcc;font-size:120%'>
                    
{{ item }}
                </td>
            </tr>
{% endfor %}
            </table>
        </td>
    </tr>
</table>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h4 align='right'> Recipes from <a href="http://food2fork.com/" style='color:#ffe87c'>Food2Fork</a></h4>
</body>
{% endblock %}
