{% extends "base.html" %}
{% block content %}
<h3>{{pagetext}}</h3>

<table>
    <tr>
        <td>
            <table>
{% for item in grocery_list %}
            <tr>
                <td>
{{ item }}
                </td>
            </tr>
{% endfor %}
            </table>
        </td>
        <td>
            <img src='/static/IMG_0145.jpg' height = 326 width = 250 align = 'middle' background = transparent>
        </td>
    </tr>
</table>
             <h3 align = 'center'>
                 <a href='/grocerylist'> Pick another ingredient </a>
     </h3>

     
{% endblock %}